.container{
    padding: 1rem 2rem;
    min-height: 100vh;
    min-height: 100dvh;
    padding-top: 5rem;
    position: relative;
}

.header{
  position: relative;
  height: 30vh;
  background-image: url('/landing.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;
}