.container{
    --primary-bg: #1b0136;
    --secondary-bg: #31203a;
    --accent: #8c18a7;
    --deep-magenta: #45062b;
    --light-neutral: #f4e8ff;
    --neon-pink: #ff1493;
    --neon-glow: 0 0 15px rgba(255, 20, 147, 0.5);
    --success: #4CAF50;
    --error: #f44336;
    --warning: #ff9800;


    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.addButton {
    background: linear-gradient(135deg, var(--neon-pink), var(--accent));
    color: white;
    border: none;
    border-radius: 50px;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
    box-shadow: var(--neon-glow);
    width: 15%;
  }

  .x{
    color: var(--neon-pink);
    background-color: white;
    font-weight: 800;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .addRoom{
    width: 100%;
    min-height: 170vh;
    position: relative;
    z-index: 888;
  }

  .addButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 20px rgba(255, 20, 147, 0.7);
  }